/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.dark{
  background-color: #22424d;
  /* background-color: aquamarine; */
}
.new{
  font-style: 89d0e6;
}
.natural{
 color: blue;
}
.base{
 color: blue;
}
.personalized{
 color: blue;
}
.seamless{
 color: blue;
}
.new{
  border-radius: green;
}
/* .pl-9{
  padding-left:180px;
}
.pr-9{
  padding-right: 140px;
}
.pt-5{
  padding-top: 150px;
}
.pb-3{
  padding-bottom: 150px;
} */
.pr-9{
  padding-right:140px;
}
.space{
  padding-left: 600px;
  color: green;
}
.space1{
  color:#6366f1;
}
.send{
  display: flex; 
 
  /* padding-left:100px; */
  margin-left: 1530px;
  
}